
nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(309deg, rgba(2,0,36,0.3) 0%, rgba(9,9,121,0.3) 35%, rgba(0,212,255,0.3) 100%);
    border-radius: 8px;
    font-size: 0px;

}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1){
    width: 100px;
}
a:nth-child(2){
    width: 100px;
}
a:nth-child(3){
    width: 100px;
}
a:nth-child(4){
    width: 100px;
}
a:nth-child(5){
    width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation{
    width: 100px;
    left: 43px;
    background-color: rgb(35, 219, 18);
}

nav .start-database, a:nth-child(2):hover~.animation{
    width: 100px;
    left: 145px;
    background-color: rgb(26, 84, 243);
}

nav .start-project, a:nth-child(3):hover~.animation{
    width: 100px;
    left: 245px;
    background-color: rgb(26, 84, 243);
}

nav .start-contact, a:nth-child(4):hover~.animation{
    width: 100px;
    left: 345px;
    background-color: rgb(26, 84, 243);
}

nav .start-team, a:nth-child(5):hover~.animation{
    width: 100px;
    left: 445px;
    background-color: rgb(26, 84, 243);
}